@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  background-color: dimgray;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: 'Courgette', cursive;
  color: antiquewhite;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.1em; /* Adjust the gap value as needed */
  justify-items: center;
}

.project {
  text-align: center;
}

.project img {
  width: 70%; /* Adjust the image width to fill the grid item */
  height: auto; /* Maintain aspect ratio */
}

.project-link {
  display: block;
  margin-top: 0.5rem;
}

